#home{
    width: 80%;
    margin: auto;
}
/* body{
    font-family: Robot,sans-serif;
    background-color: rgb(250,250,250);
} */
#navbar{
    display: flex;
    height: 75px;
    box-shadow:0 1px 1px 0 rgb(0 0 0 / 5%), 
    0 1px 2px 0 rgb(0 0 0 / 10%), 
    0 2px 20px 0 rgb(0 0 0 / 20%);
    border-bottom: 1px solid rgb(233, 225, 225);
}
.employer{
    display: flex;
}
.employer>p{
    font-size: 14px;
}
#nlogo{ 
    width: 20%;
}
#nlogo>img{
    padding-left: 25px;
    padding-top: 15px;
}
#mid{
    display: flex;
    justify-content: space-evenly ;
    width: 45%;
    /* border: 1px solid blue; */
}
#mid>div,#last>div{
    /* border: 1px solid red; */
    margin-top: 20px;
    font-size: 12px;
    /* font-weight: 700; */
    line-height:24px;
}
#last{
    display: flex;
    justify-content: center;
    width: 35%;
    /* border: 1px solid blue; */
    
}
#last>img{
    margin-top: 20px;
    height: 25px;
    width: 25px;
    margin-right: 20px;
}
i{
    margin-right: 30px;
    margin-top: 100px;
    font-size: 20px; 
    
  }

#searchedit{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:space-around;
    padding: 0px 20px 0px 20px;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-bottom: rgb(24, 22, 22);
    background-color: white;
    top: 0;
    z-index: 3;
}
.shadow{
    box-shadow: 0 2px 6px 0 rgb(0 106 194 / 20%);
}
#searchedit>:first-child{
    display: flex;
    
}
#searchedit>:first-child>img{
        width: 26px;
        height: 30px;
        margin : 10px 20px 0px 0px;
}
#searchedit>:first-child>p>a{
   text-decoration: none;
   color: #4a90e2;
    line-height: 20px;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    margin-left: 6px;
    margin-top: 15px;
}
.bgWhite {
    background: #fff;
}
#searchedit>:last-child>button{
    background-color:  #4a90e2;
    color: white;
    border: none;
    width: 123px;
    height: 23px;
    padding: 8px,16px;
    margin-top: 15px;
   
}
#second{
    display: flex;
    margin-top: 50px;
    justify-content: center;

}
#filter{
    width:20%;
   
    margin-right: 13px;
    background-color: white;
}
#job{
    width: 50%;
    margin-right: 20px;
    background-color: white;
   
}
.sort{
    width: 100%;
    height:30px;
    border : 1px solid black
}
#ad{
    width: 23%;
    height: 900px;
    /* padding-left: 20px; */
    
    
}
#logo{
  height: 350px;
  background-color: white;
  padding:20px ;
  width: 270px;
}

*{
   font-size: 16px;
   margin: 0;
   font-family: Roboto,sans-serif;
   background-color:#fafafa; 
}
#comp{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 13px;
    background-color: white;
}
.p{
    font-weight: 540;
    margin: 10px 20px 20px 10px;
    background: #fff;
}
#info{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    padding: 10px 0px 20px 10px;
    
}
#info>p{
    margin-bottom: 10px;
}
#info>img{
   width: 130px;
   height: 50px;
   margin: 10px 0px 20px 10px;
}
#info>button{
    width: 250px;
    height: 40px;
    border-color:#4a90e2;
    color: #4a90e2;
}
.innerdiv{
    border: 1px solid #ebf0f6;
    padding: 24px 24px 16px;
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
}
.grey-text {
    color: #536777;
}
.font-size{
    font-size: 12px;
}
.title{
overflow: hidden;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
white-space: nowrap;
font-weight: 700;
color: #091e42!important;
max-width: 100%;
display: inline-block;
}
.line{
display: flex;
justify-content: space-between;
}
#myDiv{
    width: 94%;
   
}
/* footer */
#footer{
    width: 100%;
    height: 500px;
    margin: 10px 10px 20px 20px; 
    background-color: #2e3339;
    color: rgb(161, 158, 158);
    display: flex;
    justify-content: space-around;
    padding-top: 20px;   
    line-height: 20px;  
    position: relative;
    bottom: 0;
}
.footerdiv{
   width:20%;
   height: 90%;
   margin-left: 50px;
}
.bgblack{
    background-color: #2e3339;
}
.size{
    width: 100px;
    height: 40px;
    display: block;
}
.icon{
    display: flex;
    padding-bottom: 20px;
}
.iconcolor{
    color: #2f9fdf;
}
.footerdiv1{
   margin-left: 350px;
}
.footerdiv2{
    margin-right: 350px;
}
.c{
    color: #fbfbfb;
}
#footer>div>p:hover{
    color: white;
}
.fs{
    font-size: 10px;
   }

