
body{
    font-family: Robot,sans-serif;
    background-color: rgb(250,250,250);
}
#navbar{
    display: flex;
    height: 75px;
    background-color: rgb(255,255,255);
    box-shadow:0 1px 1px 0 rgb(0 0 0 / 5%), 
    0 1px 2px 0 rgb(0 0 0 / 10%), 
    0 2px 20px 0 rgb(0 0 0 / 20%);
}
#nlogo{
    
    width: 20%;
    /* border: 1px solid blue; */
}
#nlogo>img{
    padding-left: 25px;
    padding-top: 15px;
}
#mid{
    display: flex;
    justify-content: space-evenly ;
    width: 45%;
    /* border: 1px solid blue; */
}
#mid>div,#last>div{
    /* border: 1px solid red; */
    margin-top: 20px;
    font-size: 12px;
    /* font-weight: 700; */
    line-height:24px;
}
#last{
    display: flex;
    justify-content: center;
    width: 35%;
    /* border: 1px solid blue; */
    
}
#last>img{
    margin-top: 20px;
    height: 25px;
    width: 25px;
    margin-right: 20px;
}
#container{
    display: flex;
}
#filter
{
    height: 600px;
    width:320px ;
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-left: 25px;  
}
#filter>div{
    height: 30px;
    width: 100%;
    /* border: 1px solid green; */
    text-align: left;
    display: flex;
    padding-top: 10px;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(255,255,255);
}
#filter>.head>img{
    height: 18px;
    width: 20px;
    padding-left:20px;
    padding-right: 10px;
}
#filter>div{
    /* border: 1px solid red; */
    margin-bottom: 5px;
}
p{
    margin-left: 20px;
    margin-top: 0px;
    color: #091e42;
}
#jobs{
    width: 45%;
    /* border: 1px solid red; */
    margin-top: 30px;
    margin-left: 20px;
    background-color: transparent;
}
#jobs>div{
    height: 270px;
    width:100%;
    /* border: 1px solid blue; */
    background-color: rgb(255,255,255);
    margin: auto;
    margin-top: 20px;
}
#lastContainer{
    width: 23%;
    /* border: 1px solid black; */
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgb(255,255,255);
}
.inner{
    display: flex;
    margin-top: 25px;
    /* border: 1px solid blue; */
}
.inner>img{
    margin-top: 5px;
    height: 64px;
    width: 100px;
}
.inner>h4{
    margin-top: 10px;
    margin-right: 20px;
    color: #091e42;
}
#lastContainer>p{
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}
.register{
    width: 100%;
    height: 40px;
    font-size: 16PX;
    font-weight: bold;
    background-color: rgb(255,135,3);
    color: white;
    border: none;
}
.saveButton{
    height: 25px;
}
.title{
    padding-top: 15px;
    font-size: 18px;
    color: #091e42;
}