
#main-slider{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
 
}
.slide
{
   
   
    /* border-radius: 16px 6px; */
    width: 15%;
    /* margin-left: 10px;
    margin-right: 10px;
     */
    display: none; 
   
    height: 200px;
}
.slide:hover{
    box-shadow:10px 10px 10px 10px lightblue;
}
.slide img{
   height: auto;
   width: auto;
   
  
}
/* .button{
    background-color:lightblue;
    border: none;
    height: 50px;
    width: 50px;
    display: inline-block;
}*/
#arrow{
    margin-left: 12px;
    width: 3%;
    display: inline-block;
    
} 
#arrow button{
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}
.text {
    text-align: center;
}
.images
{
    text-align: center;
}

.linkSpanner{
   
    width:100%;
    height:100%;
    top:0;
    left: 0;
}