body{
    font-family: 'Inter', sans-serif;
}
/* Navbar CSS */
h2{
    text-align: center;
}
#navbar{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.middle-nav > div > a{
    text-decoration: none;
    color: #8F939E;
}
.left-nav{
    display: flex;
    margin: 15px;
    width: 20%;
    
}
.middle-nav{
    display: flex;
    width: 40%;
    margin: 20px;
    font-style: normal;
    gap: 20px;
    cursor: pointer;
}
.right-nav{
    display: flex;
    width: 30%;
    margin: 10px;
    font-style: normal;
    gap:10px;
    cursor:pointer;
}
.drpdwn{
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEyIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMSAxTDYgNkwxIDAuOTk5OTk5IiBzdHJva2U9IiM0NDU1NzgiIHN0cm9rZS13aWR0aD0iMS43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=) no-repeat;
    display: inline-block;
    background-position: center;
    width: 24px;
    height: 24px;
    margin-top: 8px;
}
.loginbtn{
 width: 72px;
 height: 36px;
 border: 1px solid #bacffe;
 border-radius: 20px;
 color: #457EFF;
 background-color: white;
 font-size: 15px;
 font-style: normal;
 cursor: pointer;
 /* margin: 0px 16px; */
 
}
.registerbtn{
 width: 92px;
 height:36px;
 border-radius: 20px;
 color: white;
 background-color: #FF7555;
 font-size: 15px;
 border: none;
 font-style:normal;
 cursor: pointer;
 /* margin-right: 20px; */
}
#pipe{
    border-left: 1px solid #D3E2EB;
    height: 30px;
    margin-left: 20px;
    margin-top: 5px;
    /* margin-right: 10px; */
}
#emp{
    color: #31394B;
    margin-top: 10px;
    margin-left: 15px;
    font-weight: 500;
}
/* Header CSS */
.header{
    margin: 52px 0 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.header > h1{
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    color: #1b2437;
    margin-bottom: 6px;
    font-family: "Roboto Slab";
}
.header > div{
    font-size: 17px;
    line-height: 24px;
    color: #8292b4;
}

/* Search CSS */

.Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logoContainer{
    display: flex;
    align-items: center;
    padding: 9px 9px 9px 24px;
    background: #fff;
    border: 1.26923px solid #eaf1f5;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgb(86 141 187 / 12%);
    border-radius: 100px;
    width: 995px;
    height: 68px;
    border : 1px solid white;
}
#searchIcon{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px
}
.sugginput{
    font-size: 15px;
    line-height: 22px;
    font-family: "Inter";
    color: #9098b5;
    font-weight: 400;
}
input::placeholder{
    color: #9098b5;
    
}
input,select{
    outline: none;
}
.pipe1{
background: #eaf1f5;
border-radius: 2.53846px;
width: 1px;
height: 28px;
}
.search{
    padding: 11px 28px;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    background: #457eff;
    box-shadow: 0 5.07692px 12.6923px rgb(69 126 255 / 10%);
    border-radius: 100px;
    cursor: pointer;
    color: white;
    margin-left: 110px;
    border: none;
}
#input1{
    width: 324px;
    height:38px;
    border: none;
}
#input2{
    width: 208px;
    height:38px;
    border: none;
}
#input3{
    /* width: 223px; */
    height:40px;
    border: none;
}
#drpdwn{
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEyIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMSAxTDYgNkwxIDAuOTk5OTk5IiBzdHJva2U9IiM0NDU1NzgiIHN0cm9rZS13aWR0aD0iMS43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=) no-repeat;
    background-position: center;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.widget-container{
    display: grid;
    grid-template-columns: 30% 20% 50%;
    width: 65%;
    height: 174px;
    margin: auto;
    border: 1px dotted grey;
    margin-top: 25px;
    border-radius: 10px;
}
.wid-head-container{
    margin-top: 20px;
    margin-left: 25px;
    line-height: 45px;
}
.wid-head-container > div:first-child{
    font-weight: bold;
    font-size: 17px;
}
.widget-logo > div >  img{
    width: 50px;
    height: 50px;
    margin-top: 20px;
}
.detail-container{
    margin-top: 20px;
    margin-left: -20px;
    
}
.detail-container > div:first-child{
 font-weight: bold;
}
.detail-container > div:nth-child(2){
    color: #8299bd;
    padding-top: 5px;
    font-size: 13px;
}
.detail-container > a{
    display: inline-block;
    margin-top: 22px;
    color: white;
    background: #FF7555;
    border: none;
    border-radius: 25px;
    padding: 11px 20px;
    cursor: pointer;
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
}
/* Trending CSS */

#trendHead{
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 40px;
    color: #1b2437;
}
#trendContainer{
    display: flex;
    /* max-width: auto; */
    width: 90%;
    margin: auto;
    cursor: pointer;
    text-align: center;
    gap: 15px;
}
#trendContainer > div{
    height: 142px;
    width: 250px;
    padding-top: 20px;
    background: #ffffff;
    border: 1px solid #eaf1f5;
    box-shadow: 0px 4px 10px rgb(0 77 255 / 4%);
    border-radius: 16px 6px;
}
#trendLogo{
    margin-top: 6px;
    margin-left: 8px;
    color: #8292b4;
    width: 6px;
    height: 10px;
}
#trendName{
    /* display: block; */
    max-width: 130px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 2px;
    color: #1b2437;
}
#count{
    
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #8292b4;
}

#featureHead{
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 40px;
    margin: 10px;
    margin-top: 30px;
}
#featureContainer{
    display: grid;
    width: 90%;
    margin: auto;
    height: 380px;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    margin-top: 30px;
}
#featureContainer > div{
    border: 1px solid #EAF1F5;
    text-align: center;
    width: 210px;
    height: 300px;
    border-radius: 16px 6px;
    box-shadow: 0px 4px 10px 0px rgb(0 77 255 / 4%);
    cursor: pointer;
}
.featureLogo{
    width: 96px;
    height: 36px;
    margin-top: 10px;
    
}
.featureContent{
    background-color: rgba(21,163,99,0.03);
    padding: 16px;
    border-radius: 12px 6px;
    height: 92px;
}
.star{
    position: relative;
    width: 12px;
    height: 12px;
    margin-left: 20px;
}
.rating{
    padding-right: 6px;
    border-right: 1px solid #D3E1EA;
    margin-right: 10px;
    font-weight: 600;
    margin-left: 18px;
    color: #8292B4;
}
.review{
    color: #8292B4;
}
.desc{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #8292B4;
    text-align: center;
}
.jobView{
    
    padding: 11px 20px;
    color: #457EFF;
    font-weight: 600;
    background-color: #F1F5FF;
    display: inline-block;
    border-radius: 27px;
}
#viewCompanyContainer{
    text-align: center;
}
#viewCompany{
    border: 1px solid #88ADFF;
    border-radius: 100px;
    font-size: 17px;
    font-weight: 600;
    padding: 12px 20px;
    color: #457EFF;
    line-height: 24px;
    width: fit-content;
    height: 20px;
    position: absolute;
    left: 40%;
    margin-top: 10px;
}

/* Sponsore  */


/* Videoprofile CSS*/
#videoProfile{
    display: grid;
    grid-template-columns: 40%  10% 40%;
    width: 90%;
    margin: auto;
    height: 330px;
    background-color: #f7f8ff;
    padding-left: 40px;
}
.vidproTitle{
    color: #1b2437;
    width: 90%;
    font-size: 27px;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
    margin: 64px 0px 10px 0px;
}
.vidproTitle + p{
    color: #8292b4;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin: 10px 0px 16px 0px
}
#videoInput {
    background: #ffffff;
    border: 1px solid #d3e1ea;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: inter;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #041a3e;
    min-width: 259px;
    text-align: left;
    height: 44px;
    padding: 14px 30px 14px 16px
}

#videoSubmit{
    border: 0px;
    background-color: #457eff;
    border-radius: 20px;
    margin: 6px 0px 6px 0px;
    padding: 6px 16px;
    color: #ffffff;
    margin-left: -88px;
    z-index: 1;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    font-family: Inter;
    cursor: pointer;
}
#videoProfile > div:first-child{
    margin-left: 10px;
    margin-top: 10px;
}
#videoLogo{
    /* margin-left: 10px; */
    margin-top: 10px;
}
#qrCode{
    width: 100px;
    height: 100px;
    margin-top: 120px;
    background: #ffffff;
    border: 1px solid #c3f0ff;
    padding: 10px;
    border-radius: 12px;

}
#qrCode + p{
    font-size: 12px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
}

/* Footer CSS */


#footer{
    display: grid;
    grid-template-columns: 20% 15% 15% 15% 33%;
    width: 96%;
    margin: auto;
    height: 300px;
    align-items: center;
}
#footer > div{
    
    height: 150px;
}
#footer > div > img{
    margin-top: 20px;
}

#connectUs > p{
    color: #445578;
}
.footpcolor > p > a{
    color: #445578;
}
#appStore{
    margin-left: 20px;
    padding-left: 40px;
    background: #fff;
    border: 1px solid #D3E1EA;
    border-radius: 8px;
    
}
#appStore > p:first-child{
    font-weight: 600;
    
}
#appStore > p:nth-child(2){
    color: #445578;
}
#socailLogo{
    display: flex;
    gap: 15px;
}
#appLogo {
    display: flex;
    gap: 10px;
}