body {
    background: #fafbfe;
    font-family: Inter;
    font-weight: 400;            
    line-height: 18px;
}
/* for header */         
 #header {
     display: flex;
     justify-content: space-around;
 }

#header >div :last-child{
    margin-left: auto;
}

a {
color: #457eff;
font-size: 18px;
text-decoration: none;
}

hr {
    color: #445578;
}
/*header over */

/*For main content */
.main {
    width: 75%;
    margin: auto;            
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    
}

.main > .left-container  {
    width: 30%;
    height: 1000px;
    float: left;
    background-color: #fafbfe;
}

.main > .right-container {
    width: 65%;
    margin-top: 30px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%),
     0 1px 2px 0 rgb(0 0 0 / 10%), 0 2px 20px 0 rgb(0 0 0 / 20%);

}
/* leftcontainer */
.left-container #static-part {
    width: 100%;
    float: left;
}

.static-point {
    width: 240px;
    height: 200px;
    margin-top: 200px;
    background: #fff;
    border: 1px dashed #d3e1ea;
    border-radius: 20px 14px;
    padding: 65px 32px 32px;
    position: relative;
}

.static-point img {
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    margin: auto;
    position: absolute;
}
/* right container */

#form {
    width: 70%;
}

.right-container .google-box {
    width: 20%;
    margin-top: 200px;
    height: 90px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    border-left: 1px solid rgb(75, 73, 73);
    height: 200px;            
}

h1 {
    font-family: Roboto Slab;
    font-size: 32px;
    line-height: 28px;
}
#form > p , p {
    font-size: 14px;
    color: #445578; 
}

.head-top {
    font-size: 15px;
    color: #445578; 
    padding-top: 15px;
    font-weight: bold;           
}

#form > input {
    font-size: 15px;
    line-height: 22px;
    padding: 9px 16px 11px;
    border-radius: 4px;
    width: 90%;
    margin-top: -8px;
    margin-bottom: -7px;
    border-color: #ece7e7;
}

.work-status {
    width: 95%;
    height: 90px;
    cursor: pointer; 
    display: flex;
    justify-content: space-between;
}

.work-status > .sub {
    border: 2px solid #afb8ce;
    width: 46%;
    border-radius: 20px 8px;
    cursor: pointer; 
    line-height: 15px;
    padding-left: 3px;
    display: flex;
    justify-content: space-around;           
}

.sub >div:first-child {
    width: 20px;
    height: 20px;
    font-size: 22px;
    padding-top: 10px;            
    margin-top: 6px;
    color: gray;
}

.sub >div:last-child {
    width: 70%;
    padding-top: -20px;
}

.sub >div:last-child > h3  {
    color: #457eff;
}

.sub >div:last-child > p {
    color: #92a0bd;
}

.resume {
    width: 75%;
    height: 40px;
    border: 1px solid #84858a; 
    border-radius: 20px;
    display: flex;
    flex-direction: row;                      
}

.resume >div {
    width: 35%;
    height: 30px;
    background: #ff7555;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 10px;
    color: white; 
    display: flex;             
}        
.resume > p {
    color: #92a0bd;
    font-size: 14px;
    padding-left: 5px;
}

.notifiy {
    display: flex;
}

.notifiy > i {            
    color: 
    #1d9d74;
    padding: 13px 3px 3px 3px;
}

.bott {
    font-size: 12px;
}

#form > .register {
    border-radius: 25px;
    width: 30%;
    height: 45px;
    border: none;
    background-color: #457eff;
    color: #fafbfe;
    font-weight: bold;
    font-size: 15px; 
}

#form > .register + p {
    font-size: 11px;
    color: #457eff;
    text-align: center;
    padding-top: 20px;
} 

.register + p + p {
    font-size: 11px;
    color: #92a0bd;
    text-align: center;
    line-height: 4px;
} 

.google {
    display: flex;
    border: 1px solid #457eff;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 12%), 0 2px 2px 0 rgb(0 0 0 / 15%);
    border-radius: 20px;
    width: 85%;
    height: 30px;
    padding-right: 10px;
}

.google-box > h3 {
    padding-top: 50px;
    cursor: pointer;
}

.google > img {
    width : 22px;
    height : 22px;
    margin: 11px 11px 11px 16px;
    background-size: 18px 18px;
}

.google > h4 {
    width: 150px;
    height: 22px;
    color: #457eff;
    font-family: Roboto;
    font-size: 17px;
    letter-spacing: .4px;
    line-height: 16px;
    text-align: left;            
} 